h2 {
    text-align: center;
    color: #333;
}

.row-content {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    gap: 20px;
    padding-bottom: 150px;
}

.form-transaction {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 10px;
    /* max-width: 600px; */
    width: 500px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.invalid-feedback {
    color: red;
    margin-left: 5px;
    margin-bottom: 5px;
    font: 0.9em sans-serif;
}

/* Ô nhập liệu */
.mb-3 {
    margin-bottom: 15px;
}

.product-special-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

/* Nút ghi nhận */
.d-grid {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.checkbox-container {
    display: flex;
    justify-content: center;
}

.checkbox-container label {
    margin-left: 5px;
    margin-bottom: 0;
}

.phone-container {
    display: flex;
    gap: 10px;
}

.phone-container .search-input {
    flex: 1;
    width: 100px;
}

.phone-container .code-select {
    width: 200px;
}

.btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Khi rê chuột vào nút */
.btn:hover {
    background-color: #0056b3;
}

/* Khi nhấn nút */
.btn:active {
    background-color: #004080;
}

/* Ô nhập liệu và textarea */
.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Định dạng nút cho phù hợp với grid */
/* .btn-primary {
    width: 100%;
} */

label {
    margin-bottom: 10px;
}

.document {
    margin-left: 100px;
}

.product-type {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-info {
    display: flex;
    gap: 10px;
}

.checkbox-container a {
    margin-left: 5px;
    color: #1f93ff!important;
    text-decoration: none;
    font-weight: bold;
}

.payer {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sender {
    margin-top: 10px;
    margin-bottom: 5px;
}

.recipient {
    margin-left: 100px;
    margin-bottom: 10px;
}

.transportation {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.save {
    margin-top: 10px;
    margin-bottom: 5px;
}

.fast {
    margin-left: 107px;
    margin-bottom: 10px;

}

.transaction-info .form-transaction {
    width: 1000px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.box1 {
    width: 50%;
}

.box2 {
    width: 50%;
    overflow: hidden;
}

.request-pickup {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.atPostOffice {
    margin-left: 25px;
}

textarea {
    height: 100px;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
    margin-top: 100px;
    border: 2px solid #ddd;
    border-radius: 10px;
    height: 120px;
    margin-bottom: 20px;
    position: fixed;
    width: 1274.4px;
    bottom: 10px;
    z-index: 1000;
}

.footer .footer1 {
    background-color: #f1f1f1;
    padding-left: 10px;
    padding-top: 25px;
    border-right: 2px solid #ddd;
    flex: 2;
}

.footer .footer2 {
    background-color: #f1f1f1;
    padding-left: 10px;
    padding-top: 25px;
    border-right: 2px solid #ddd;
    flex: 2;
}

.footer .footer3 {
    background-color: #f1f1f1;
    padding-left: 10px;
    padding-top: 25px;
    border-right: 2px solid #ddd;
    flex: 2;
}

.footer .footer4 {
    padding-top: 25px;
    background-color: #f1f1f1;
    flex: 4;
    padding-bottom: 25px;
}

.footer label {
    font-weight: bold;
}

.react-modal-print {
    max-height: 85vh;
    overflow-y: auto;
    width: 1200px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 115px;
}

.modal-overlay {
    margin-top: -100px;
}

.modal-button {
    margin-top: -50px;
    margin-bottom: 20px;
    margin-left: 50px;
}

/* reponsive */
@media screen and (max-width: 600px) {
    .form-transaction {
        width: 100%;
    }

    .transaction-info .form-transaction {
        flex-direction: column;
        width: 100%;
        
    }

    .information {
        width: 100%;
    }

    .product {
        width: 100%;
    }

    .box1 {
        width: 100%;
    }

    .box2 {
        width: 100%;
    }

    .footer {
        width: 100%;
    }
}

