.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .navbar .brand {
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    display: flex;
    margin-left: 20px;
  }
  
  .navbar .search-box {
    display: flex;
    align-items: center;
  }
  
  .navbar .search-box input {
    width: 200px;
    /* Adjust the width of the search box */
    height: 30px;
    margin-right: 5px;
    border-radius: 4px;
  }
  
  .search-box button {
    background-color: #fff;
    color: #3498db;
    height: 30px;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .account-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .navbar .account {
    display: flex;
    align-items: center;
    padding: auto;
  }
  
  .account-name {
    margin-right: 100px;
    margin-left: 8px;
  }
  
  .fa-caret-down {
    margin-right: 60px;
    position: relative;
  }
  
  .account-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    margin-left: 8px;
    /* position: relative; */
    padding: 5px;
    margin-right: -100px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #236795;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 25px;
    right: 5%;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #3aadfa;
  }
  
  .account-dropdown:hover .dropdown-content {
    display: block;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
  }